[submodule "extern/assimp"]
	path = extern/assimp
	url = git@github.com:assimp/assimp.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "extern/glm"]
	path = extern/glm
	url = git@github.com:g-truc/glm.git
[submodule "extern/stb"]
	path = extern/stb
	url = git@github.com:nothings/stb.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "extern/nfd"]
	path = extern/nfd
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "extern/sketchup"]
	path = extern/sketchup
	url = git@github.com:ACON3D/skp-sdk.git
